h1{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
}
#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}
.cta-heading{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
}
#title{
    background-color: #ff4c68;
    color:white;
}
.container-fluid{
    padding:3% 15% 7%;
}
body{
    font-family: "Montserrat";
}
/* Navigation Bar */
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight:bold;
}
.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding:18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}
.download-button{
    margin: 5% 3% 5% 0;
}
.dog{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right:30%;
}
#features{
    padding:10% 15%;
    background-color: #fff;
    position: relative;
}
.feature-box{
    text-align: center;
    padding:5%;
}
h3{
    font-family: "Montserrat";
}
p{
    color:#8f8f8f;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;  
}
.icon:hover{
    color:rgb(244, 8, 47);
}
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}
h2{
    font-family: "Montserrat";
    font-weight: bolder;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 4%;
}
.press-logo{
    width:15%;
    margin:20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}

#pricing{
    padding:100px; 
    text-align: center;
}
.pricing-coloumn{
    padding:3%;
} 
@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .dog{
        position:static;
        transform: rotate(0);
    }
}
#footer{
    padding: 7% 15%;
    text-align:center;
}
.social{
    margin:20px;
}


